<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="user/user_base::layout(~{::section})">
  <head>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <meta charset="UTF-8" />
    <title>Show contacts</title>
    <style></style>
  </head>
  <body>
    <section class="user_details">
      <div class="container text-center" th:if="${message}">
        <div class="card alert alert-warning">
          <div class="card-body">alert ...!! <span th:text="${message.content}"></span></div>
        </div>
      </div>
      <!--  -->
      <div class="table_cards">
        <div class="card-bodys">
          <h2>Your Contacts</h2>
          <!-- <div class="serach-container"> -->
          <div class="result">
            <input onkeyup="seanpaul()" type="search" name="" id="sears" />

            <div class="listy"><h2>search results</h2></div>
          </div>
          <!-- </div> -->

          <table>
            <thead>
              <tr>
                <th scope="col">#ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="e : ${contacts}">
                <th th:text="${e.cId}" scope="row">1</th>

                <td>
                  <img class="show_contact_img" src="#" th:src="@{'/image/'+${e.image}}" alt="" />
                  <span th:text="${e.name}"></span>
                </td>

                <td>
                  <a href="#" th:href="@{'/user/'+${e.cId}+'/contact'}"> <span th:text="${e.email}"></span> </a>
                </td>

                <td th:text="${e.phone}">Loading..</td>
                <td>
                  <a href="#" th:onclick="|deleteContact(${e.cId})|" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></a>
                  <a href="#" th:href="@{'/user/update-contact/'+${e.cId}}" class="btn btn-info btn-sm"><i class="fas fa-user-edit"></i></a>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>

          <!-- contacts pagination  -->
          <div class="container text-center">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item" th:if="${currentPage != 0}"><a class="page-link" href="#" th:href="@{'/user/show-contacts/'+${currentPage-1}}">Previous</a></li>

                <li class="page-item" th:each="e : ${#numbers.sequence(1, totalPages) }" th:classappend="${currentPage ==e-1 ?'active': ' '} ">
                  <a class="page-link" href="#" th:href="@{'/user/show-contacts/'+${e-1}}">
                    <span th:text="${e}"></span>
                  </a>
                </li>

                <li class="page-item" th:if="${currentPage+1 != totalPages}"><a class="page-link" href="#" th:href="@{'/user/show-contacts/'+${currentPage+1}}">Next</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
<script>
  const seanpaul = () => {
    let query = $("#sears").val()
    if (query == "") {
      $(".listy").hide()
    } else {
      let url = `http://localhost:8585/search/${query}`
      fetch(url, { method: "GET" })
        .then((response) => {
          console.log(response.json)
          return response.json()
        })
        .then((data) => {
          console.log(data)
          let text = `<ul class='result_part'>`
          data.forEach((contact) => {
            text += `<li><a href='/user/${contact.cId}/contact' class='parts'>${contact.name}</a></li>`
          })
          text += `</ul>`
          $(".listy").html(text)
          $(".listy").show()
        })
    }
  }
</script>
